
/*Змінні з кольорами*/
:root{
    --blue: #2196F3;
    --white: #FFFFFF;
    --darkerWhite: #F5F4FA;
    --black: rgba(0, 0, 0, 1);
    --backGrey: #2F303A;
    --grey: #212121;
    --lightGrey: #757575;
    --weirdGrey: rgba(255, 255, 255, 0.6);
}

/*Лінки без підкреслення*/
.link {
    text-decoration: none;
}

/*Лінки при наведенні стають блакитними*/
.link:hover, .link:focus {
    color: var(--blue);
}

/*Мінус маркування*/
.nav-list{
    list-style-type: none;
}

/*Блакитний колір*/
.blue {
    color: var(--blue);
}

/*Світлий сірий колір*/
.light-grey {
    color: var(--lightGrey);
}

/*Сірий колір*/
.grey {
    color: var(--grey);
}

/*Дивний сірий колір*/
.weird-grey {
    color: var(--weirdGrey);
}

/*Чорна частина логотипу*/
.black {
    color: var(--black);
}

/*Біла частина логотипу*/
.white {
    color: var(--white);
}

/*Хедер списки*/
.nav-item {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

/*Логотип*/
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/*Сіра частина з кнопкою колір*/
.hero {
    background: var(--backGrey);
}

/* Ефективні рішення для вашого бізнесу */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Кнопка */
.button {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Замовити послугу */
.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.865;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*Приховані заголовки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Заголовки якості*/
.qualities-title {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*Текст якості*/
.qualities-text{
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}

/*Заголовки секцій*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Наша команда секція*/
.section-team{
    background: var(--darkerWhite);
}

/*Наша команда текст загальний*/
.team{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Імена команди*/
.team-names{
    font-weight: 500;
}

/*Посади команди*/
.team-position{
    font-weight: 400;
    color: var(--lightGrey);
}

/*Футер*/
.footer{
    background: var(--backGrey);
}

/*Адреса імейл телефон футер*/
.footer-item{
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/*Кнопки в портфоліо фільтри*/
.buttons-portfolio{
    background: var(--darkerWhite);
    border-radius: 4px;
    font-family: inherit;
}

/*Кнопки в портфоліо фільтри при наведенні*/
.buttons-portfolio:focus, .buttons-portfolio:hover{
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}

/*Кнопки в портфоліо фільтри Текст*/
.buttons-text{
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Заголовки портфоліо*/
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--grey);
}

/*Портфоліо тип*/
.portfolio-type{
    font-size: 16px;
    line-height: 1.865;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}