
/*Змінні з кольорами*/
:root{
    --contrast: #2196F3;
    --white: #FFFFFF;
    --darkerWhite: #F5F4FA;
    --black: rgba(0, 0, 0, 1);
    --backGrey: #2F303A;
    --grey: #212121;
    --lightGrey: #757575;
    --weirdGrey: rgba(255, 255, 255, 0.6);
}

/*Блакитний колір контраст*/
.contrast {
    color: var(--contrast);
}

/*Світлий сірий колір*/
.light-grey {
    color: var(--lightGrey);
}

/*Сірий колір*/
.grey {
    color: var(--grey);
}

/*Дивний сірий колір*/
.weird-grey {
    color: var(--weirdGrey);
}

/*Чорна частина логотипу*/
.black {
    color: var(--black);
}

/*Біла частина логотипу*/
.white {
    color: var(--white);
}

/* Загальні стилі */
body {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--grey);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Лінки без підкреслення*/
.link {
    text-decoration: none;
}

/*Лінки при наведенні стають блакитними*/
.link:hover, .link:focus {
    color: var(--contrast);
}

/*Мінус маркування списків*/
.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Приховані заголовки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Рамка хедер*/
.header {
    border: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*ФлексБокс*/
.nav-container{
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pages{
    width: 281px;
    margin-right: 344px;
}

.adress{
    width: 307px;
}

/*Секції*/
.section{
    padding: 94px 0;
}

/*Логотип*/
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    width: 145px;
    margin-right: 93px;
}

/*Хедер списки*/
.nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*Логотип хедер паддінги*/
.logo-header{
    padding: 24px 0;
}

/*Відступ між сторінками і контактами хедер*/
.indentation-ul-header {
    margin-right: 344px;
}

/* HERO */
.hero {
    background: var(--backGrey);
    padding: 200px 0;
    text-align: center;
}

/* Ефективні рішення для вашого бізнесу */
.hero-title {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
}

/* Кнопка */
.button {
    margin: 0 auto;
    background: var(--contrast);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    border: 0;
}

.button:focus, .button:hover{
    cursor: pointer;
}

/* Замовити послугу */
.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.865;
    text-align: center;
    letter-spacing: 0.06em;
}

/*Заголовки якості*/
.qualities-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*Текст якості*/
.qualities-text{
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}

/*Розміри якості*/
.qualities-dimensions{
    width: 270px;
}

/*Заголовки секцій*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
}

.section-margin{
    margin-top: 50px;
}

.about{
    padding-top: 0;
}

/*Наша команда секція*/
.section-team{
    background: var(--darkerWhite);
    padding: 94px 0;
}

/*Наша команда текст загальний*/
.team{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Наша команда фон карток*/
.team-color {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*Імена команди*/
.team-names{
    font-weight: 500;
    margin-top: 0;
}

/*Посади команди*/
.team-position{
    color: var(--lightGrey);
    margin-bottom: 0;
}

.team-padding{
    padding: 30px 0;
}

/*Кнопки в портфоліо фільтри*/
.buttons-portfolio{
    background: var(--darkerWhite);
    border-radius: 4px;
    font-family: inherit;
    border: 0;
    padding: 6px 22px;
}

/*Кнопки в портфоліо фільтри при наведенні*/
.buttons-portfolio:focus, .buttons-portfolio:hover{
    background: var(--contrast);
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Кнопки в портфоліо фільтри Текст*/
.buttons-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}

/* flexbox списки main*/
.flexbox-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Відступ для кнопок */
.portfolio-indentation-button {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

/*Заголовки портфоліо*/
.portfolio-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--grey);
    margin: 0;
}

/*Портфоліо тип*/
.portfolio-type{
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.865;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}

/*Портфоліо список робіт*/
.portfolio-list {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
}

.portfolio-flex {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Відступи назви в портфоліо */
.portfolio-indentation-text{
    margin: 0;
    padding: 20px 24px;
}

/*Футер*/
.footer {
    background: var(--backGrey);
    padding: 60px 0;
}

/*Логотип футер паддінги*/
.logo-footer {
    margin: 0;
}

.footer-padding{
    margin-top: 20px;;
}

/*Адреса імейл телефон футер*/
.footer-item {
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/*Відступи адреса імейл телефон футер*/
.footer-indentation-item {
    margin-top: 9px;
}

/*Відступ 50*/
.vidstup-fifty{
    margin-right: 50px;
}

/*Відступ 30*/
.vidstup-thirty {
    margin-right: 30px;
}